In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
from matplotlib import rc, font_manager
rc('font',family="NanumSquareR")
import os

pd.set_option('display.max_columns', 500)

In [2]:
os.chdir("C:\\Users\\RND\\DaconDataset")

In [3]:
regular = pd.read_csv("Regular_Season_batter.csv")

In [4]:
regular.iloc[4]

batter_id                          1
batter_name                      강경학
year                            2016
team                              한화
avg                            0.158
G                                 46
AB                               101
R                                 16
H                                 16
2B                                 3
3B                                 2
HR                                 1
TB                                26
RBI                                7
SB                                 0
CS                                 0
BB                                 8
HBP                                2
SO                                30
GDP                                5
SLG                            0.257
OBP                            0.232
E                                  7
height/weight             180cm/72kg
year_born              1992년 08월 11일
position                   내야수(우투좌타)
career             광주대성초-광주동성중-광주동성고
starting_salary              10000만원
OPS                            0.489
Name: 4, dtype: object

위와 같이 원하는 index의 데이터를 뽑아올 수 있다.

## 시계열 데이터 다루기

### 문제 : 2018년도 까지의 타자의 성적을 바탕으로 2019년도 성적 예측하는것

### 필요한 정보 : 1년전 성적

### 이때 알아야 할 것이 lag 변수

예를들면 2018년도 기준 박석민의 lag_1_OPS 변수는 

이름 : 박석민

OPS : 2017년도의 OPS

를 의미한다.

### 따라서  lag변수를 활용하는 법을 알아보자

In [5]:
regular.loc[(regular['batter_name']=="강경학")&(regular['year']==2016-1)]['OPS'].iloc[0]

0.6729999999999999

강경학의 2016년 기준 lag_1_OPS를 표시하였다

In [6]:
regular.loc[(regular['batter_name']==regular['batter_name'].iloc[4])&(regular['year']==regular['year'].iloc[4]-1)]['OPS'].iloc[0]

0.6729999999999999

강경학 대신 4번 인덱스의 값으로 치환하여 같은 결과를 표시하였다. 이를 일반화 할것이다

In [7]:
res = []
res.append(1)
print(res)

[1]

배열에 원소를 추가하는 방법이다.

In [8]:
lag_1_OPS=[]
for i in range(len(regular)): 
    if len(regular.loc[(regular['batter_name']==regular['batter_name'].iloc[i])&(regular['year']==regular['year'].iloc[i]-1)]['OPS'])==0:
        lag_1_OPS.append(np.nan)
    else:
        lag_1_OPS.append(regular.loc[(regular['batter_name']==regular['batter_name'].iloc[i])&(regular['year']==regular['year'].iloc[i]-1)]['OPS'].iloc[0])

만약 이전년도의 정보가 없을 경우 그때 데이터의 공간은 0이므로 이때는 NaN을 추가하도록 하고 이전년도의 정보가 있을경우에는 그값을 lag_1_OPS 배열에 넣어준다

In [9]:
lag_1_OPS

[nan,
 nan,
 nan,
 0.6859999999999999,
 0.6729999999999999,
 0.489,
 0.552,
 nan,
 nan,
 0.6000000000000001,
 0.0,
 0.0,
 nan,
 0.41548691548691546,
 0.5205314009661836,
 0.0,
 nan,
 0.5156862745098039,
 0.5942622950819672,
 nan,
 0.6157974660067002,
 0.6628473301653566,
 0.5755494505494505,
 0.7380967135568363,
 0.8312472226336839,
 0.8156615074423293,
 0.8472435300021507,
 0.8338632787732194,
 0.7573354363672546,
 0.7489311367004903,
 0.6673319411033862,
 0.7796059017666472,
 0.653967281952585,
 0.7850834027304616,
 0.7601225934559268,
 0.7746134374911122,
 0.7532228360957642,
 0.8235294117647058,
 nan,
 0.0,
 0.0,
 nan,
 nan,
 0.0,
 0.6080000000000001,
 0.6729999999999999,
 0.7559999999999999,
 0.85,
 0.758,
 0.9,
 0.846,
 0.823,
 0.742,
 0.767,
 1.06,
 0.982,
 0.843,
 nan,
 nan,
 0.6693376068376069,
 0.5435897435897437,
 0.5352941176470588,
 0.7579064128359903,
 0.7092731829573935,
 0.7304304304304304,
 0.7972689075630253,
 0.7620137299771168,
 0.8335172822224615,
 0.5194610778443114,
 nan,
 0.0,
 0.6961610486891385,
 0.7195926966292134,
 0.7948717948717949,
 0.6706827309236947,
 0.6743812279009964,
 0.7004841549295775,
 0.7545148189752009,
 0.7811902028319939,
 0.911698196929746,
 0.6945318399194563,
 0.7008302200083022,
 0.7226013649136893,
 nan,
 nan,
 0.5,
 nan,
 0.483,
 0.655,
 nan,
 0.35,
 0.26666666666666666,
 0.7289486104555929,
 0.8607843137254902,
 0.8492200591902056,
 0.7577557396105783,
 0.9767870236243004,
 0.8801102629346904,
 nan,
 nan,
 0.925,
 nan,
 0.621,
 0.508,
 0.643,
 0.6839999999999999,
 nan,
 0.5,
 nan,
 0.8559006211180125,
 0.5999584775086505,
 0.6243511501576018,
 0.6585521959832267,
 nan,
 0.6645199761478829,
 0.7124796801546505,
 0.6820367132867133,
 0.597432121728797,
 nan,
 nan,
 nan,
 0.2,
 nan,
 0.2843137254901961,
 0.7129833129833131,
 0.7963135549342446,
 0.7716241104113141,
 0.7019382502421452,
 0.6238827780168748,
 0.6095940750791498,
 0.7393028512511401,
 0.9831932773109244,
 0.7023302938196555,
 0.8855066771406127,
 nan,
 nan,
 1.153846153846154,
 0.7302619692863596,
 0.7653916211293261,
 0.6601886792452829,
 0.6540948275862069,
 nan,
 nan,
 0.14300000000000002,
 0.8220000000000001,
 0.825,
 0.8109999999999999,
 nan,
 0.951,
 0.967,
 0.91,
 nan,
 nan,
 0.68,
 0.7979999999999999,
 0.63,
 nan,
 0.9326341840205056,
 1.0632256217462386,
 0.9201380502034522,
 0.904502111279428,
 0.9853856266432954,
 0.8283837341875238,
 0.7834119496855345,
 0.9053475694913728,
 0.7957719067775995,
 0.8889766833099035,
 0.7884216873609294,
 0.8492765982473681,
 0.960955710955711,
 0.7972222222222223,
 0.6891756970656278,
 0.5103402032749859,
 nan,
 0.3702651515151515,
 nan,
 nan,
 0.6589077412513256,
 0.5651872399445215,
 0.4875192265436168,
 0.6380026990553307,
 0.7178087729937336,
 0.5982554939238685,
 0.6274391211981463,
 0.5517272522013998,
 0.6670515344235817,
 0.6335203258280182,
 0.6477521929824561,
 0.4,
 0.7200854700854701,
 0.3431372549019608,
 0.5888837754162832,
 nan,
 2.0,
 0.7020000000000001,
 nan,
 0.672,
 nan,
 0.7030000000000001,
 0.8290000000000001,
 nan,
 nan,
 1.0,
 0.494,
 0.5449999999999999,
 0.7140000000000001,
 0.638,
 0.743,
 0.7659999999999999,
 0.8180000000000001,
 0.754,
 0.6759999999999999,
 0.8360000000000001,
 0.863,
 0.6599999999999999,
 0.8079999999999999,
 0.635,
 nan,
 nan,
 nan,
 0.7387479541734859,
 0.7101325692975873,
 0.696163640844492,
 0.6661902254319316,
 0.7229744251020847,
 nan,
 0.4,
 1.0,
 0.6708511084691238,
 0.6422865773956488,
 0.6953867028493894,
 0.7266258990038845,
 0.8678294573643409,
 0.9424483562414596,
 0.7580344184117769,
 nan,
 1.25,
 nan,
 0.637,
 nan,
 nan,
 0.3358473824312333,
 0.7011812476928756,
 0.7897435897435897,
 0.7048802368350229,
 0.8419536156394745,
 0.7239415760175679,
 0.7179705798763218,
 0.6107537663862257,
 0.7390629112924454,
 0.6123981123981124,
 0.7363508771929825,
 nan,
 0.3940497874924104,
 0.5080558539205156,
 nan,
 nan,
 0.6940000000000001,
 0.45,
 0.6779999999999999,
 0.885,
 0.746,
 nan,
 0.877,
 0.825,
 nan,
 nan,
 0.5,
 nan,
 0.624,
 0.598,
 0.6970000000000001,
 nan,
 0.7924857590871641,
 0.9616875522138679,
 1.0217980054164983,
 0.9292069376406726,
 0.9670431726907628,
 1.0433691738068271,
 0.8713253556107473,
 0.9152531112981088,
 0.7454703832752614,
 0.993321601504006,
 0.928318049737726,
 1.0518491805906158,
 0.9180978793548962,
 0.8712027914614121,
 0.6852055151368549,
 nan,
 0.75,
 nan,
 0.6,
 0.685,
 nan,
 0.0,
 nan,
 0.7170000000000001,
 0.643,
 nan,
 0.579,
 0.5640000000000001,
 0.7090000000000001,
 0.634,
 0.759,
 0.831,
 0.728,
 nan,
 0.0,
 0.499,
 0.685,
 0.5660000000000001,
 0.623,
 0.725,
 0.8009999999999999,
 0.7989999999999999,
 0.8220000000000001,
 0.8690000000000001,
 0.7809999999999999,
 nan,
 nan,
 0.3720000000000001,
 nan,
 0.39799999999999996,
 0.72,
 0.5760000000000001,
 nan,
 1.0,
 0.7330000000000001,
 0.552,
 0.39299999999999996,
 nan,
 nan,
 0.7040000000000001,
 0.6809999999999999,
 nan,
 nan,
 0.6000000000000001,
 0.373,
 nan,
 0.7440000000000001,
 0.474,
 nan,
 0.63,
 0.635,
 0.7140000000000001,
 0.696,
 0.7709999999999999,
 0.7609999999999999,
 0.7609999999999999,
 0.6579999999999999,
 0.6659999999999999,
 nan,
 0.25,
 0.5384615384615385,
 0.3838383838383838,
 nan,
 nan,
 0.5,
 nan,
 0.76,
 nan,
 0.4131147540983606,
 0.24624624624624625,
 0.7684937297449626,
 0.5457575116377487,
 nan,
 0.6766169154228856,
 0.5437356361863639,
 nan,
 0.607,
 0.742,
 0.715,
 0.753,
 0.73,
 0.725,
 nan,
 0.905,
 0.897,
 nan,
 0.5,
 0.617,
 0.696,
 0.8009999999999999,
 0.7050000000000001,
 nan,
 2.0,
 nan,
 nan,
 0.0,
 0.6729999999999999,
 0.581,
 0.753,
 0.7649999999999999,
 0.794,
 0.674,
 nan,
 0.741,
 nan,
 0.6670733606770157,
 0.6815014254038645,
 0.7654301247201791,
 nan,
 0.5397546569741027,
 nan,
 nan,
 0.603,
 0.725,
 0.607,
 0.639,
 0.8,
 0.6729999999999999,
 nan,
 0.5833333333333333,
 nan,
 nan,
 0.5837104072398189,
 0.5890302066772655,
 0.11692307692307695,
 0.7824054398640035,
 0.6608802686240259,
 0.7686835339488138,
 0.8621713886350196,
 0.6882749874209935,
 0.7243018933171954,
 0.8129329599437648,
 0.6466211484593838,
 0.6608247422680412,
 0.7802820871412929,
 nan,
 0.5329999999999999,
 nan,
 nan,
 0.433,
 0.5539999999999999,
 nan,
 0.25,
 nan,
 nan,
 0.69,
 nan,
 nan,
 0.7979999999999999,
 nan,
 0.39299999999999996,
 0.4320000000000001,
 nan,
 nan,
 0.0,
 nan,
 0.648,
 0.6950000000000001,
 0.622,
 0.49,
 0.536,
 0.768,
 0.6739999999999999,
 0.7879999999999999,
 0.8290000000000001,
 0.8089999999999999,
 nan,
 nan,
 0.5660000000000001,
 nan,
 0.867,
 0.76,
 1.035,
 1.032,
 nan,
 0.9724355108877722,
 nan,
 nan,
 nan,
 0.0,
 0.6071428571428572,
 0.7099567099567099,
 0.6564834799933588,
 0.7603933482571155,
 0.6791224686595949,
 nan,
 0.0,
 0.813,
 0.65,
 0.48,
 nan,
 0.647,
 0.752,
 0.8069999999999999,
 0.71,
 0.7969999999999999,
 0.7509999999999999,
 0.777,
 0.9109999999999999,
 0.9540000000000001,
 0.9520000000000001,
 0.848,
 nan,
 0.48700000000000004,
 0.47,
 0.79,
 0.7509999999999999,
 nan,
 0.607,
 0.446,
 0.69,
 0.737,
 0.6100000000000001,
 0.8540000000000001,
 0.45,
 nan,
 0.0,
 nan,
 0.6699999999999999,
 0.47,
 0.58,
 0.7929999999999999,
 0.462,
 nan,
 0.445,
 0.25,
 0.762,
 nan,
 nan,
 1.085,
 0.7090000000000001,
 0.996,
 0.941,
 0.948,
 0.8520000000000001,
 0.903,
 1.0390000000000001,
 nan,
 1.01,
 0.919,
 1.0270000000000001,
 0.996,
 1.044,
 0.958,
 nan,
 0.281,
 nan,
 1.0,
 0.75,
 0.85,
 0.958,
 nan,
 0.632,
 0.764,
 0.583,
 0.958,
 0.88,
 nan,
 0.0,
 nan,
 nan,
 0.6940000000000001,
 0.851,
 0.835,
 0.889,
 nan,
 0.166,
 0.278,
 0.0,
 nan,
 0.7190000000000001,
 nan,
 0.0,
 0.7330000000000001,
 0.963,
 1.037,
 0.945,
 0.8360000000000001,
 0.74,
 0.852,
 0.884,
 nan,
 nan,
 nan,
 0.5479999999999999,
 nan,
 0.464,
 0.105,
 nan,
 0.757,
 0.8049999999999999,
 0.612,
 0.7310000000000001,
 nan,
 0.591,
 0.6659999999999999,
 nan,
 0.735,
 0.997,
 0.9259999999999999,
 0.885,
 0.999,
 nan,
 nan,
 0.7537714582972082,
 0.3974358974358975,
 nan,
 0.478,
 nan,
 0.0,
 nan,
 0.465,
 0.7909999999999999,
 0.66,
 0.621,
 0.625,
 0.635,
 0.804,
 nan,
 0.174,
 0.7140000000000001,
 0.6970000000000001,
 1.119,
 0.8180000000000001,
 nan,
 0.8460000000000001,
 0.8420000000000001,
 0.7350000000000001,
 0.903,
 0.782,
 0.868,
 0.914,
 0.753,
 1.022,
 0.939,
 nan,
 0.523,
 0.6910000000000001,
 nan,
 0.0,
 0.381,
 0.779,
 0.7350000000000001,
 nan,
 0.603,
 0.563,
 nan,
 0.715,
 nan,
 0.8964438205533134,
 nan,
 0.453,
 0.532,
 nan,
 0.965,
 nan,
 0.898,
 nan,
 nan,
 0.9621159727665328,
 nan,
 nan,
 0.9109999999999999,
 nan,
 nan,
 0.4,
 0.7629999999999999,
 0.677,
 nan,
 0.6781609195402298,
 0.5,
 nan,
 nan,
 0.6776061776061776,
 0.1801470588235294,
 nan,
 nan,
 0.5720000000000001,
 0.7190000000000001,
 nan,
 0.7,
 0.782,
 0.733,
 0.779,
 0.8740000000000001,
 0.846,
 nan,
 0.0,
 0.581,
 nan,
 nan,
 0.5,
 0.643,
 0.63,
 0.501,
 0.5640000000000001,
 0.7240000000000001,
 0.604,
 0.675,
 0.6859999999999999,
 nan,
 0.578021978021978,
 0.8012198464912281,
 0.7920320506207228,
 nan,
 0.449,
 0.64,
 0.465,
 0.6809999999999999,
 nan,
 0.28600000000000003,
 0.867,
 0.895,
 0.7989999999999999,
 0.8909999999999999,
 0.8340000000000001,
 nan,
 nan,
 0.6539999999999999,
 0.51,
 0.912,
 0.94,
 1.006,
 nan,
 0.723,
 0.736,
 0.5549999999999999,
 0.588,
 0.669,
 0.69,
 0.7490000000000001,
 0.7709999999999999,
 nan,
 0.659,
 0.9059999999999999,
 0.934,
 0.782,
 nan,
 0.7904147569739151,
 nan,
 0.6060000000000001,
 0.8,
 0.596,
 nan,
 0.5510835913312693,
 0.7444267515923566,
 nan,
 0.5586419753086421,
 0.7372448979591837,
 0.6716507177033493,
 0.6974146130566363,
 0.8026248069994852,
 0.7661718398560504,
 nan,
 0.0,
 0.433,
 0.5770000000000001,
 0.636,
 0.5609999999999999,
 0.71,
 0.626,
 0.5840000000000001,
 0.706,
 0.5409999999999999,
 nan,
 0.537,
 0.491,
 0.69,
 0.665,
 0.608,
 nan,
 0.2222222222222222,
 nan,
 0.6920821114369502,
 0.5821205821205822,
 0.6914556962025317,
 0.4717176959003633,
 0.5236742424242424,
 0.0,
 0.7179487179487181,
 nan,
 nan,
 0.5409999999999999,
 0.741,
 0.753,
 0.72,
 0.754,
 nan,
 0.633,
 0.7909999999999999,
 0.8029999999999999,
 0.848,
 0.9129999999999999,
 nan,
 0.5780000000000001,
 nan,
 0.7040000000000001,
 0.649,
 0.865,
 0.954,
 1.0390000000000001,
 1.119,
 nan,
 nan,
 nan,
 0.429,
 nan,
 0.835,
 1.002,
 0.92,
 0.8160000000000001,
 0.957,
 0.94,
 1.02,
 0.992,
 0.982,
 0.792,
 nan,
 0.833,
 nan,
 0.639,
 0.752,
 nan,
 0.0,
 nan,
 0.802,
 0.595,
 nan,
 0.4449760765550239,
 0.5411464968152866,
 0.6221551073239133,
 nan,
 0.7157894736842105,
 0.6674064679771718,
 nan,
 0.8260000000000001,
 0.7120000000000001,
 0.828,
 0.7759999999999999,
 0.823,
 0.767,
 0.648,
 0.999,
 0.802,
 0.813,
 0.813,
 0.8280000000000001,
 0.8909999999999999,
 0.873,
 0.87,
 0.903,
 nan,
 nan,
 nan,
 0.636,
 0.6970000000000001,
 0.858,
 0.892,
 0.71,
 0.7170000000000001,
 0.895,
 0.938,
 0.83,
 0.797,
 0.794,
 nan,
 0.8079999999999999,
 0.652,
 nan,
 0.2,
 0.508,
 nan,
 nan,
 0.414,
 0.395,
 nan,
 0.5964912280701754,
 0.3582887700534759,
 0.4185185185185185,
 0.7173658393733071,
 0.4764605785592739,
 0.5128579777907656,
 0.5786640567653536,
 0.3881578947368421,
 0.5267212325469427,
 0.3519445514054679,
 0.3318181818181818,
 0.7096975189758694,
 0.7853910420051056,
 0.6767676767676767,
 nan,
 0.698,
 nan,
 nan,
 nan,
 nan,
 0.7341362766656195,
 0.5046418450112381,
 0.5479712378017463,
 0.6849835269637593,
 0.8385281385281385,
 0.8890158944062759,
 0.6781280793600987,
 0.8408453919725649,
 0.8133358987113668,
 0.7255034150438762,
 0.8162068356962173,
 0.8632709632709632,
 0.6811043646883046,
 0.7242956425419398,
 0.6719514582110002,
 0.7754026645456353,
 0.6669527078565981,
 0.6896363139185124,
 0.5753676470588236,
 nan,
 nan,
 0.5,
 1.0,
 nan,
 nan,
 0.8290000000000001,
 0.742,
 0.857,
 0.8620000000000001,
 0.774,
 0.769,
 0.6679999999999999,
 0.8190000000000001,
 0.8270000000000001,
 0.867,
 0.6910000000000001,
 0.774,
 0.742,
 0.852,
 0.847,
 0.853,
 0.774,
 nan,
 nan,
 0.7490000000000001,
 0.7240000000000001,
 0.7669999999999999,
 0.7310000000000001,
 nan,
 0.091,
 0.486,
 0.321,
 0.7210000000000001,
 0.7879999999999999,
 0.871,
 0.752,
 nan,
 0.721,
 0.7190000000000001,
 0.6409999999999999,
 nan,
 0.8190000000000001,
 0.73,
 0.81,
 nan,
 0.273,
 nan,
 nan,
 0.222,
 0.0,
 nan,
 nan,
 1.25,
 0.451,
 0.6709999999999999,
 0.725,
 0.31,
 nan,
 0.509,
 0.58,
 0.784,
 0.581,
 0.47600000000000003,
 nan,
 0.2,
 nan,
 0.546,
 0.8340000000000001,
 1.04,
 0.947,
 nan,
 0.912,
 nan,
 0.86,
 nan,
 nan,
 nan,
 0.7090000000000001,
 0.6719999999999999,
 0.985,
 0.81,
 0.847,
 0.8320000000000001,
 nan,
 0.331,
 0.6779999999999999,
 nan,
 0.768,
 0.0,
 0.677,
 0.732,
 ...]

lag_1_OPS 값이 생성되었다

In [10]:
regular['lag_1_OPS'] = lag_1_OPS

이를 원래 데이터셋에 추가해준다

In [11]:
regular

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,3B,HR,TB,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS,lag_1_OPS
0,0,가르시아,2018,LG,0.339,50,183,27,62,9,0,8,95,34,5,0,9,8,25,3,0.519000,0.383000,9,177cm/93kg,1985년 04월 12일,내야수(우투우타),쿠바 Ciego de Avila Maximo Gomez Baez(대),NaN,0.902000,NaN
1,1,강경학,2011,한화,0.000,2,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0.000000,0.000000,1,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.000000,NaN
2,1,강경학,2014,한화,0.221,41,86,11,19,2,3,1,30,7,0,0,13,2,28,1,0.349000,0.337000,6,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.686000,NaN
3,1,강경학,2015,한화,0.257,120,311,50,80,7,4,2,101,27,4,3,40,5,58,3,0.325000,0.348000,15,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.673000,0.686000
4,1,강경학,2016,한화,0.158,46,101,16,16,3,2,1,26,7,0,0,8,2,30,5,0.257000,0.232000,7,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.489000,0.673000
5,1,강경학,2017,한화,0.214,59,84,17,18,2,1,0,22,4,1,1,8,1,19,1,0.262000,0.290000,4,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.552000,0.489000
6,1,강경학,2018,한화,0.278,77,245,42,68,11,1,5,96,27,6,3,38,4,59,7,0.392000,0.382000,2,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.774000,0.552000
7,2,강구성,2013,NC,0.000,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.000000,NaN
8,2,강구성,2015,NC,0.200,4,5,0,1,1,0,0,2,0,0,0,0,0,0,0,0.400000,0.200000,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.600000,NaN
9,2,강구성,2016,NC,0.000,2,3,0,0,0,0,0,0,0,0,0,0,0,1,0,0.000000,0.000000,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.000000,0.600000
10,2,강구성,2017,NC,0.000,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0.000000,0.000000,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.000000,0.000000
11,2,강구성,2018,NC,0.200,4,5,0,1,1,0,0,2,1,0,0,0,0,3,0,0.400000,0.200000,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.600000,0.000000
12,138,백승룡,2005,한화,0.127,39,63,9,8,2,0,0,10,3,1,2,7,4,15,1,0.158730,0.256757,3,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,0.415487,NaN
13,138,백승룡,2006,한화,0.139,37,36,6,5,2,0,0,7,0,1,0,8,2,14,0,0.194444,0.326087,4,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,0.520531,0.415487
14,138,백승룡,2007,한화,0.000,8,4,3,0,0,0,0,0,0,0,0,0,0,2,1,0.000000,0.000000,0,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,0.000000,0.520531
15,138,백승룡,2008,한화,0.000,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,0.000000,0.000000
16,138,백승룡,2011,한화,0.176,38,51,7,9,2,0,0,11,3,1,1,7,2,13,1,0.215686,0.300000,0,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,0.515686,NaN
17,138,백승룡,2012,한화,0.231,33,52,3,12,1,0,0,13,3,3,0,6,3,20,0,0.250000,0.344262,1,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,0.594262,0.515686
18,138,백승룡,2013,한화,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,NaN,0.594262
19,297,진갑용,1997,OB,0.242,95,281,21,68,7,0,4,87,20,2,0,20,6,44,7,0.309609,0.306189,6,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.615797,NaN
20,297,진갑용,1998,OB,0.269,88,253,12,68,14,1,2,90,22,1,1,14,0,44,10,0.355731,0.307116,7,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.662847,0.615797
21,297,진갑용,1999,삼성,0.212,68,156,13,33,3,0,4,48,17,0,2,10,2,29,7,0.307692,0.267857,7,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.575549,0.662847
22,297,진갑용,2000,삼성,0.273,114,297,30,81,14,0,8,119,58,2,1,23,6,45,7,0.400673,0.337423,7,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.738097,0.575549
23,297,진갑용,2001,삼성,0.306,89,314,54,96,25,2,7,146,57,2,3,23,7,37,4,0.464968,0.366279,4,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.831247,0.738097
24,297,진갑용,2002,삼성,0.281,133,462,58,130,29,1,18,215,86,0,0,41,8,56,13,0.465368,0.350294,11,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.815662,0.831247
25,297,진갑용,2003,삼성,0.290,126,435,64,126,20,2,21,213,53,1,1,36,10,34,13,0.489655,0.357588,13,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.847244,0.815662
26,297,진갑용,2004,삼성,0.278,129,439,60,122,20,0,24,214,71,0,0,34,12,51,16,0.487472,0.346392,5,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.833863,0.847244
27,297,진갑용,2005,삼성,0.288,110,347,34,100,17,0,6,135,41,1,1,36,8,47,8,0.389049,0.368286,6,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.757335,0.833863
28,297,진갑용,2006,삼성,0.288,110,358,28,103,22,0,6,143,47,1,2,29,5,37,18,0.399441,0.349490,4,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.748931,0.757335
29,297,진갑용,2007,삼성,0.246,122,362,28,89,12,0,5,116,39,0,1,49,7,38,9,0.320442,0.346890,4,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.667332,0.748931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2424,340,황선일,2006,LG,0.000,1,2,0,0,0,0,0,0,0,0,0,0,0,2,0,0.000000,0.000000,0,NaN,1987년 02월 17일,NaN,군산중앙초-군산중-군산상고-LG-상무-LG,NaN,0.000000,NaN
2425,340,황선일,2007,LG,0.181,44,72,8,13,3,1,0,18,6,0,0,8,2,19,1,0.250000,0.280488,2,NaN,1987년 02월 17일,NaN,군산중앙초-군산중-군산상고-LG-상무-LG,NaN,0.530488,0.000000
2426,340,황선일,2010,LG,0.200,4,5,0,1,1,0,0,2,1,0,0,0,0,2,0,0.400000,0.200000,0,NaN,1987년 02월 17일,NaN,군산중앙초-군산중-군산상고-LG-상무-LG,NaN,0.600000,NaN
2427,340,황선일,2011,LG,0.222,7,9,0,2,0,0,0,2,1,0,0,0,1,1,0,0.222222,0.300000,0,NaN,1987년 02월 17일,NaN,군산중앙초-군산중-군산상고-LG-상무-LG,NaN,0.522222,0.600000
2428,340,황선일,2012,LG,0.125,3,8,0,1,0,0,0,1,1,0,0,0,0,0,0,0.125000,0.125000,0,NaN,1987년 02월 17일,NaN,군산중앙초-군산중-군산상고-LG-상무-LG,NaN,0.250000,0.522222
2429,340,황선일,2015,한화,0.174,13,23,1,4,2,0,0,6,2,1,0,1,1,6,1,0.260870,0.240000,0,NaN,1987년 02월 17일,NaN,군산중앙초-군산중-군산상고-LG-상무-LG,NaN,0.500870,NaN
2430,341,황윤호,2015,NC,0.000,10,5,2,0,0,0,0,0,0,0,0,1,0,1,0,0.000000,0.167000,0,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,0.167000,NaN
2431,341,황윤호,2016,NC,0.083,33,12,7,1,0,0,0,1,2,1,0,0,0,5,0,0.083000,0.083000,0,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,0.166000,0.167000
2432,341,황윤호,2017,NC,0.133,36,15,8,2,0,1,0,4,0,0,0,1,1,4,0,0.267000,0.235000,1,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,0.502000,0.166000
2433,341,황윤호,2018,KIA,0.158,82,57,11,9,1,0,0,10,4,2,2,0,3,6,2,0.175000,0.200000,3,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,0.375000,0.502000
2434,342,황재균,2007,현대,0.300,63,160,19,48,6,0,2,60,12,2,2,5,1,33,1,0.375000,0.323000,5,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.698000,NaN
2435,342,황재균,2008,우리,0.239,117,306,27,73,10,1,1,88,18,10,7,16,2,56,8,0.288000,0.279000,17,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.567000,0.698000
2436,342,황재균,2009,히어로즈,0.284,133,536,86,152,27,5,18,243,63,30,15,55,3,100,11,0.453000,0.349000,12,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.802000,0.567000
2437,342,황재균,2010,롯데,0.225,94,306,41,69,14,3,6,107,40,18,7,32,4,73,10,0.350000,0.303000,9,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.653000,0.802000
2438,342,황재균,2011,롯데,0.289,117,398,62,115,18,4,12,177,68,12,6,40,9,78,9,0.445000,0.360000,22,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.805000,0.653000
2439,342,황재균,2012,롯데,0.272,133,448,42,122,19,1,4,155,51,26,8,38,5,81,10,0.346000,0.335000,15,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.681000,0.805000
2440,342,황재균,2013,롯데,0.274,128,489,70,134,29,3,7,190,56,22,11,49,10,78,14,0.389000,0.350000,18,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.739000,0.681000
2441,342,황재균,2014,롯데,0.321,128,486,66,156,33,3,12,231,76,17,10,53,3,86,8,0.475000,0.388000,16,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.863000,0.739000
2442,342,황재균,2015,롯데,0.290,144,534,95,155,41,2,26,278,97,11,10,48,4,122,14,0.521000,0.350000,16,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.871000,0.863000
2443,342,황재균,2016,롯데,0.335,127,498,97,167,26,5,27,284,113,25,10,49,4,66,10,0.570000,0.394000,15,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.964000,0.871000
2444,342,황재균,2018,KT,0.296,142,530,76,157,41,3,25,279,88,14,7,49,4,120,5,0.526000,0.358000,17,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.884000,NaN
2445,343,황정립,2012,KIA,0.149,18,47,4,7,0,0,1,10,5,0,0,10,0,15,0,0.212766,0.298246,1,NaN,1989년 12월 14일,NaN,학동초-경원중-배명고-고려대,NaN,0.511012,NaN
2446,343,황정립,2013,KIA,0.244,21,45,8,11,2,0,1,16,8,0,0,10,2,13,2,0.355556,0.403509,1,NaN,1989년 12월 14일,NaN,학동초-경원중-배명고-고려대,NaN,0.759064,0.511012
2447,344,황진수,2012,롯데,0.111,28,18,2,2,1,0,0,3,0,2,0,1,0,9,1,0.167000,0.158000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.325000,NaN
2448,344,황진수,2013,롯데,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,NaN,0.325000
2449,344,황진수,2014,롯데,0.000,5,5,0,0,0,0,0,0,0,0,0,0,0,1,0,0.000000,0.000000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000000,NaN
2450,344,황진수,2015,롯데,0.000,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000000,0.000000
2451,344,황진수,2016,롯데,0.000,11,10,2,0,0,0,0,0,0,0,1,0,0,5,0,0.000000,0.000000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000000,0.000000
2452,344,황진수,2017,롯데,0.291,60,117,18,34,6,2,1,47,16,4,0,10,3,38,2,0.402000,0.359000,4,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.761000,0.000000
2453,344,황진수,2018,롯데,0.167,18,24,6,4,1,0,1,8,1,1,0,2,0,5,0,0.333000,0.231000,3,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.564000,0.761000

lag_1_OPS 카테고리가 추가된 것을 확인 할 수 있다.

In [12]:
lag_1_avg=[]
for i in range(len(regular)): 
    if len(regular.loc[(regular['batter_name']==regular['batter_name'].iloc[i])&(regular['year']==regular['year'].iloc[i]-1)]['avg'])==0:
        lag_1_avg.append(np.nan)
    else:
        lag_1_avg.append(regular.loc[(regular['batter_name']==regular['batter_name'].iloc[i])&(regular['year']==regular['year'].iloc[i]-1)]['avg'].iloc[0])

In [13]:
regular['lag_1_avg'] = lag_1_avg

In [14]:
regular.columns

Index(['batter_id', 'batter_name', 'year', 'team', 'avg', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'TB', 'RBI', 'SB', 'CS', 'BB', 'HBP', 'SO', 'GDP',
       'SLG', 'OBP', 'E', 'height/weight', 'year_born', 'position', 'career',
       'starting_salary', 'OPS', 'lag_1_OPS', 'lag_1_avg'],
      dtype='object')

같은 방식으로 lag_1_avg 또한 생성하였다.

In [15]:
regular = pd.read_csv("Regular_Season_batter.csv")

데이터 추가과정을 일반화 하기위해 데이터를 원상복구하였다

In [16]:
for j in ['avg', 'G', 'AB', 'R', 'H','2B', '3B', 'HR', 'TB', 'RBI', 'SB', 'CS', 'BB', 'HBP', 'SO', 'GDP', 'SLG', 'OBP', 'E',]:    
    lag_1_vel=[]
    for i in range(len(regular)): 
        if len(regular.loc[(regular['batter_name']==regular['batter_name'].iloc[i])&(regular['year']==regular['year'].iloc[i]-1)][j])==0:
            lag_1_vel.append(np.nan)
        else:
            lag_1_vel.append(regular.loc[(regular['batter_name']==regular['batter_name'].iloc[i])&(regular['year']==regular['year'].iloc[i]-1)][j].iloc[0])
    regular['lag_1_'+j] = lag_1_vel
    print(j) #진행과정을 보기위해

avg
G
AB
R
H
2B
3B
HR
TB
RBI
SB
CS
BB
HBP
SO
GDP
SLG
OBP
E

평균타율부터 에러까지 모든 데이터의 lag_1값을 생성하여 원본데이터에 추가하였다

In [17]:
from sklearn.ensemble import RandomForestRegressor

학습시킬 모델은 RandomForest이다

In [18]:
y= regular['OPS']
X = regular[['lag_1_avg', 'lag_1_G', 'lag_1_AB', 'lag_1_R',
       'lag_1_H', 'lag_1_2B', 'lag_1_3B', 'lag_1_HR', 'lag_1_TB', 'lag_1_RBI',
       'lag_1_SB', 'lag_1_CS', 'lag_1_BB', 'lag_1_HBP', 'lag_1_SO',
       'lag_1_GDP', 'lag_1_SLG', 'lag_1_OBP', 'lag_1_E']]

모델에 들어갈 input(x) 와 output(y)를 정의해준다

In [19]:
rf = RandomForestRegressor(n_estimators=500) # 모델 정의 (트리모델을 500개 만들겠다)

모델의 정의하였다. 옵션은 트리 모델을 500개로 하겠다라는 의미이다.

In [20]:
rf.fit(X,y)
# Nan 값 때문에 오류뜸 Nan 값 -1로

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

NaN 값 때문에 오류가 뜨게된다. 따라서 NaN 값을 -1로 치환하여 모델에 넣어주었다.

In [21]:
rf.fit(X.fillna(-1),y.fillna(-1))

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

이와같이 모델을 생성해주면 된다

In [22]:
regular

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,3B,HR,TB,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS,lag_1_avg,lag_1_G,lag_1_AB,lag_1_R,lag_1_H,lag_1_2B,lag_1_3B,lag_1_HR,lag_1_TB,lag_1_RBI,lag_1_SB,lag_1_CS,lag_1_BB,lag_1_HBP,lag_1_SO,lag_1_GDP,lag_1_SLG,lag_1_OBP,lag_1_E
0,0,가르시아,2018,LG,0.339,50,183,27,62,9,0,8,95,34,5,0,9,8,25,3,0.519000,0.383000,9,177cm/93kg,1985년 04월 12일,내야수(우투우타),쿠바 Ciego de Avila Maximo Gomez Baez(대),NaN,0.902000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,강경학,2011,한화,0.000,2,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0.000000,0.000000,1,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,강경학,2014,한화,0.221,41,86,11,19,2,3,1,30,7,0,0,13,2,28,1,0.349000,0.337000,6,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.686000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,강경학,2015,한화,0.257,120,311,50,80,7,4,2,101,27,4,3,40,5,58,3,0.325000,0.348000,15,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.673000,0.221,41.0,86.0,11.0,19.0,2.0,3.0,1.0,30.0,7.0,0.0,0.0,13.0,2.0,28.0,1.0,0.349000,0.337000,6.0
4,1,강경학,2016,한화,0.158,46,101,16,16,3,2,1,26,7,0,0,8,2,30,5,0.257000,0.232000,7,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.489000,0.257,120.0,311.0,50.0,80.0,7.0,4.0,2.0,101.0,27.0,4.0,3.0,40.0,5.0,58.0,3.0,0.325000,0.348000,15.0
5,1,강경학,2017,한화,0.214,59,84,17,18,2,1,0,22,4,1,1,8,1,19,1,0.262000,0.290000,4,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.552000,0.158,46.0,101.0,16.0,16.0,3.0,2.0,1.0,26.0,7.0,0.0,0.0,8.0,2.0,30.0,5.0,0.257000,0.232000,7.0
6,1,강경학,2018,한화,0.278,77,245,42,68,11,1,5,96,27,6,3,38,4,59,7,0.392000,0.382000,2,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.774000,0.214,59.0,84.0,17.0,18.0,2.0,1.0,0.0,22.0,4.0,1.0,1.0,8.0,1.0,19.0,1.0,0.262000,0.290000,4.0
7,2,강구성,2013,NC,0.000,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2,강구성,2015,NC,0.200,4,5,0,1,1,0,0,2,0,0,0,0,0,0,0,0.400000,0.200000,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2,강구성,2016,NC,0.000,2,3,0,0,0,0,0,0,0,0,0,0,0,1,0,0.000000,0.000000,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.000000,0.200,4.0,5.0,0.0,1.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.400000,0.200000,0.0
10,2,강구성,2017,NC,0.000,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0.000000,0.000000,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.000000,0.000,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.000000,0.000000,0.0
11,2,강구성,2018,NC,0.200,4,5,0,1,1,0,0,2,1,0,0,0,0,3,0,0.400000,0.200000,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.600000,0.000,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.000000,0.000000,0.0
12,138,백승룡,2005,한화,0.127,39,63,9,8,2,0,0,10,3,1,2,7,4,15,1,0.158730,0.256757,3,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,0.415487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,138,백승룡,2006,한화,0.139,37,36,6,5,2,0,0,7,0,1,0,8,2,14,0,0.194444,0.326087,4,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,0.520531,0.127,39.0,63.0,9.0,8.0,2.0,0.0,0.0,10.0,3.0,1.0,2.0,7.0,4.0,15.0,1.0,0.158730,0.256757,3.0
14,138,백승룡,2007,한화,0.000,8,4,3,0,0,0,0,0,0,0,0,0,0,2,1,0.000000,0.000000,0,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,0.000000,0.139,37.0,36.0,6.0,5.0,2.0,0.0,0.0,7.0,0.0,1.0,0.0,8.0,2.0,14.0,0.0,0.194444,0.326087,4.0
15,138,백승룡,2008,한화,0.000,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,0.000000,0.000,8.0,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.000000,0.000000,0.0
16,138,백승룡,2011,한화,0.176,38,51,7,9,2,0,0,11,3,1,1,7,2,13,1,0.215686,0.300000,0,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,0.515686,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,138,백승룡,2012,한화,0.231,33,52,3,12,1,0,0,13,3,3,0,6,3,20,0,0.250000,0.344262,1,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,0.594262,0.176,38.0,51.0,7.0,9.0,2.0,0.0,0.0,11.0,3.0,1.0,1.0,7.0,2.0,13.0,1.0,0.215686,0.300000,0.0
18,138,백승룡,2013,한화,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,NaN,0.231,33.0,52.0,3.0,12.0,1.0,0.0,0.0,13.0,3.0,3.0,0.0,6.0,3.0,20.0,0.0,0.250000,0.344262,1.0
19,297,진갑용,1997,OB,0.242,95,281,21,68,7,0,4,87,20,2,0,20,6,44,7,0.309609,0.306189,6,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.615797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,297,진갑용,1998,OB,0.269,88,253,12,68,14,1,2,90,22,1,1,14,0,44,10,0.355731,0.307116,7,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.662847,0.242,95.0,281.0,21.0,68.0,7.0,0.0,4.0,87.0,20.0,2.0,0.0,20.0,6.0,44.0,7.0,0.309609,0.306189,6.0
21,297,진갑용,1999,삼성,0.212,68,156,13,33,3,0,4,48,17,0,2,10,2,29,7,0.307692,0.267857,7,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.575549,0.269,88.0,253.0,12.0,68.0,14.0,1.0,2.0,90.0,22.0,1.0,1.0,14.0,0.0,44.0,10.0,0.355731,0.307116,7.0
22,297,진갑용,2000,삼성,0.273,114,297,30,81,14,0,8,119,58,2,1,23,6,45,7,0.400673,0.337423,7,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.738097,0.212,68.0,156.0,13.0,33.0,3.0,0.0,4.0,48.0,17.0,0.0,2.0,10.0,2.0,29.0,7.0,0.307692,0.267857,7.0
23,297,진갑용,2001,삼성,0.306,89,314,54,96,25,2,7,146,57,2,3,23,7,37,4,0.464968,0.366279,4,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.831247,0.273,114.0,297.0,30.0,81.0,14.0,0.0,8.0,119.0,58.0,2.0,1.0,23.0,6.0,45.0,7.0,0.400673,0.337423,7.0
24,297,진갑용,2002,삼성,0.281,133,462,58,130,29,1,18,215,86,0,0,41,8,56,13,0.465368,0.350294,11,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.815662,0.306,89.0,314.0,54.0,96.0,25.0,2.0,7.0,146.0,57.0,2.0,3.0,23.0,7.0,37.0,4.0,0.464968,0.366279,4.0
25,297,진갑용,2003,삼성,0.290,126,435,64,126,20,2,21,213,53,1,1,36,10,34,13,0.489655,0.357588,13,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.847244,0.281,133.0,462.0,58.0,130.0,29.0,1.0,18.0,215.0,86.0,0.0,0.0,41.0,8.0,56.0,13.0,0.465368,0.350294,11.0
26,297,진갑용,2004,삼성,0.278,129,439,60,122,20,0,24,214,71,0,0,34,12,51,16,0.487472,0.346392,5,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.833863,0.290,126.0,435.0,64.0,126.0,20.0,2.0,21.0,213.0,53.0,1.0,1.0,36.0,10.0,34.0,13.0,0.489655,0.357588,13.0
27,297,진갑용,2005,삼성,0.288,110,347,34,100,17,0,6,135,41,1,1,36,8,47,8,0.389049,0.368286,6,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.757335,0.278,129.0,439.0,60.0,122.0,20.0,0.0,24.0,214.0,71.0,0.0,0.0,34.0,12.0,51.0,16.0,0.487472,0.346392,5.0
28,297,진갑용,2006,삼성,0.288,110,358,28,103,22,0,6,143,47,1,2,29,5,37,18,0.399441,0.349490,4,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.748931,0.288,110.0,347.0,34.0,100.0,17.0,0.0,6.0,135.0,41.0,1.0,1.0,36.0,8.0,47.0,8.0,0.389049,0.368286,6.0
29,297,진갑용,2007,삼성,0.246,122,362,28,89,12,0,5,116,39,0,1,49,7,38,9,0.320442,0.346890,4,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.667332,0.288,110.0,358.0,28.0,103.0,22.0,0.0,6.0,143.0,47.0,1.0,2.0,29.0,5.0,37.0,18.0,0.399441,0.349490,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2424,340,황선일,2006,LG,0.000,1,2,0,0,0,0,0,0,0,0,0,0,0,2,0,0.000000,0.000000,0,NaN,1987년 02월 17일,NaN,군산중앙초-군산중-군산상고-LG-상무-LG,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2425,340,황선일,2007,LG,0.181,44,72,8,13,3,1,0,18,6,0,0,8,2,19,1,0.250000,0.280488,2,NaN,1987년 02월 17일,NaN,군산중앙초-군산중-군산상고-LG-상무-LG,NaN,0.530488,0.000,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.000000,0.000000,0.0
2426,340,황선일,2010,LG,0.200,4,5,0,1,1,0,0,2,1,0,0,0,0,2,0,0.400000,0.200000,0,NaN,1987년 02월 17일,NaN,군산중앙초-군산중-군산상고-LG-상무-LG,NaN,0.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2427,340,황선일,2011,LG,0.222,7,9,0,2,0,0,0,2,1,0,0,0,1,1,0,0.222222,0.300000,0,NaN,1987년 02월 17일,NaN,군산중앙초-군산중-군산상고-LG-상무-LG,NaN,0.522222,0.200,4.0,5.0,0.0,1.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.400000,0.200000,0.0
2428,340,황선일,2012,LG,0.125,3,8,0,1,0,0,0,1,1,0,0,0,0,0,0,0.125000,0.125000,0,NaN,1987년 02월 17일,NaN,군산중앙초-군산중-군산상고-LG-상무-LG,NaN,0.250000,0.222,7.0,9.0,0.0,2.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.222222,0.300000,0.0
2429,340,황선일,2015,한화,0.174,13,23,1,4,2,0,0,6,2,1,0,1,1,6,1,0.260870,0.240000,0,NaN,1987년 02월 17일,NaN,군산중앙초-군산중-군산상고-LG-상무-LG,NaN,0.500870,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2430,341,황윤호,2015,NC,0.000,10,5,2,0,0,0,0,0,0,0,0,1,0,1,0,0.000000,0.167000,0,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,0.167000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2431,341,황윤호,2016,NC,0.083,33,12,7,1,0,0,0,1,2,1,0,0,0,5,0,0.083000,0.083000,0,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,0.166000,0.000,10.0,5.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.000000,0.167000,0.0
2432,341,황윤호,2017,NC,0.133,36,15,8,2,0,1,0,4,0,0,0,1,1,4,0,0.267000,0.235000,1,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,0.502000,0.083,33.0,12.0,7.0,1.0,0.0,0.0,0.0,1.0,2.0,1.0,0.0,0.0,0.0,5.0,0.0,0.083000,0.083000,0.0
2433,341,황윤호,2018,KIA,0.158,82,57,11,9,1,0,0,10,4,2,2,0,3,6,2,0.175000,0.200000,3,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,0.375000,0.133,36.0,15.0,8.0,2.0,0.0,1.0,0.0,4.0,0.0,0.0,0.0,1.0,1.0,4.0,0.0,0.267000,0.235000,1.0
2434,342,황재균,2007,현대,0.300,63,160,19,48,6,0,2,60,12,2,2,5,1,33,1,0.375000,0.323000,5,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.698000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2435,342,황재균,2008,우리,0.239,117,306,27,73,10,1,1,88,18,10,7,16,2,56,8,0.288000,0.279000,17,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.567000,0.300,63.0,160.0,19.0,48.0,6.0,0.0,2.0,60.0,12.0,2.0,2.0,5.0,1.0,33.0,1.0,0.375000,0.323000,5.0
2436,342,황재균,2009,히어로즈,0.284,133,536,86,152,27,5,18,243,63,30,15,55,3,100,11,0.453000,0.349000,12,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.802000,0.239,117.0,306.0,27.0,73.0,10.0,1.0,1.0,88.0,18.0,10.0,7.0,16.0,2.0,56.0,8.0,0.288000,0.279000,17.0
2437,342,황재균,2010,롯데,0.225,94,306,41,69,14,3,6,107,40,18,7,32,4,73,10,0.350000,0.303000,9,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.653000,0.284,133.0,536.0,86.0,152.0,27.0,5.0,18.0,243.0,63.0,30.0,15.0,55.0,3.0,100.0,11.0,0.453000,0.349000,12.0
2438,342,황재균,2011,롯데,0.289,117,398,62,115,18,4,12,177,68,12,6,40,9,78,9,0.445000,0.360000,22,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.805000,0.225,94.0,306.0,41.0,69.0,14.0,3.0,6.0,107.0,40.0,18.0,7.0,32.0,4.0,73.0,10.0,0.350000,0.303000,9.0
2439,342,황재균,2012,롯데,0.272,133,448,42,122,19,1,4,155,51,26,8,38,5,81,10,0.346000,0.335000,15,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.681000,0.289,117.0,398.0,62.0,115.0,18.0,4.0,12.0,177.0,68.0,12.0,6.0,40.0,9.0,78.0,9.0,0.445000,0.360000,22.0
2440,342,황재균,2013,롯데,0.274,128,489,70,134,29,3,7,190,56,22,11,49,10,78,14,0.389000,0.350000,18,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.739000,0.272,133.0,448.0,42.0,122.0,19.0,1.0,4.0,155.0,51.0,26.0,8.0,38.0,5.0,81.0,10.0,0.346000,0.335000,15.0
2441,342,황재균,2014,롯데,0.321,128,486,66,156,33,3,12,231,76,17,10,53,3,86,8,0.475000,0.388000,16,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.863000,0.274,128.0,489.0,70.0,134.0,29.0,3.0,7.0,190.0,56.0,22.0,11.0,49.0,10.0,78.0,14.0,0.389000,0.350000,18.0
2442,342,황재균,2015,롯데,0.290,144,534,95,155,41,2,26,278,97,11,10,48,4,122,14,0.521000,0.350000,16,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.871000,0.321,128.0,486.0,66.0,156.0,33.0,3.0,12.0,231.0,76.0,17.0,10.0,53.0,3.0,86.0,8.0,0.475000,0.388000,16.0
2443,342,황재균,2016,롯데,0.335,127,498,97,167,26,5,27,284,113,25,10,49,4,66,10,0.570000,0.394000,15,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.964000,0.290,144.0,534.0,95.0,155.0,41.0,2.0,26.0,278.0,97.0,11.0,10.0,48.0,4.0,122.0,14.0,0.521000,0.350000,16.0
2444,342,황재균,2018,KT,0.296,142,530,76,157,41,3,25,279,88,14,7,49,4,120,5,0.526000,0.358000,17,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.884000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2445,343,황정립,2012,KIA,0.149,18,47,4,7,0,0,1,10,5,0,0,10,0,15,0,0.212766,0.298246,1,NaN,1989년 12월 14일,NaN,학동초-경원중-배명고-고려대,NaN,0.511012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2446,343,황정립,2013,KIA,0.244,21,45,8,11,2,0,1,16,8,0,0,10,2,13,2,0.355556,0.403509,1,NaN,1989년 12월 14일,NaN,학동초-경원중-배명고-고려대,NaN,0.759064,0.149,18.0,47.0,4.0,7.0,0.0,0.0,1.0,10.0,5.0,0.0,0.0,10.0,0.0,15.0,0.0,0.212766,0.298246,1.0
2447,344,황진수,2012,롯데,0.111,28,18,2,2,1,0,0,3,0,2,0,1,0,9,1,0.167000,0.158000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.325000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2448,344,황진수,2013,롯데,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,NaN,0.111,28.0,18.0,2.0,2.0,1.0,0.0,0.0,3.0,0.0,2.0,0.0,1.0,0.0,9.0,1.0,0.167000,0.158000,0.0
2449,344,황진수,2014,롯데,0.000,5,5,0,0,0,0,0,0,0,0,0,0,0,1,0,0.000000,0.000000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000000,NaN,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
2450,344,황진수,2015,롯데,0.000,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000000,0.000,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.000000,0.000000,0.0
2451,344,황진수,2016,롯데,0.000,11,10,2,0,0,0,0,0,0,0,1,0,0,5,0,0.000000,0.000000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000000,0.000,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
2452,344,황진수,2017,롯데,0.291,60,117,18,34,6,2,1,47,16,4,0,10,3,38,2,0.402000,0.359000,4,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.761000,0.000,11.0,10.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0,0.0,0.000000,0.000000,0.0
2453,344,황진수,2018,롯데,0.167,18,24,6,4,1,0,1,8,1,1,0,2,0,5,0,0.333000,0.231000,3,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.564000,0.291,60.0,117.0,18.0,34.0,6.0,2.0,1.0,47.0,16.0,4.0,0.0,10.0,3.0,38.0,2.0,0.402000,0.359000,4.0

### 문제에 적용

우리의 모델을 평가하기위해 원래 문제를 조금 바꿔보겠다

2018년도 까지의 성적으로 2019년도 성적을 예측하는것(원래문제)

->>>>

2017년도 까지의 성적으로 2018년도 성적을 예측하는것(모델 평가용)

위의 내용을 바탕으로 train set 과 test set을 나누었다.

In [23]:
train = regular.loc[regular['year']<=2017,]
test = regular.loc[regular['year']==2018,]
y_train = train['OPS']
X_train = train[['lag_1_avg', 'lag_1_G', 'lag_1_AB', 'lag_1_R',
       'lag_1_H', 'lag_1_2B', 'lag_1_3B', 'lag_1_HR', 'lag_1_TB', 'lag_1_RBI',
       'lag_1_SB', 'lag_1_CS', 'lag_1_BB', 'lag_1_HBP', 'lag_1_SO',
       'lag_1_GDP', 'lag_1_SLG', 'lag_1_OBP', 'lag_1_E']]

y_test = test['OPS']
X_test = test[['lag_1_avg', 'lag_1_G', 'lag_1_AB', 'lag_1_R',
       'lag_1_H', 'lag_1_2B', 'lag_1_3B', 'lag_1_HR', 'lag_1_TB', 'lag_1_RBI',
       'lag_1_SB', 'lag_1_CS', 'lag_1_BB', 'lag_1_HBP', 'lag_1_SO',
       'lag_1_GDP', 'lag_1_SLG', 'lag_1_OBP', 'lag_1_E']]

In [24]:
rf = RandomForestRegressor(n_estimators=500)
rf.fit(X_train.fillna(-1),y_train.fillna(-1))

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [25]:
pred = rf.predict(X_test.fillna(-1))

In [26]:
real=test['OPS'].fillna(-1)
ab = test['AB']

In [27]:
from sklearn.metrics import mean_squared_error
mean_squared_error(real,pred,sample_weight=ab)**0.5

0.17310750690136906

작은 표본의 문제 (적은 타석수일때)
따라서 타석에 따라 가중치를 줘야함

In [28]:
rf = RandomForestRegressor(n_estimators=500)
rf.fit(X_train.fillna(-1),y_train.fillna(-1),sample_weight=train['AB'])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

가중치를 줘서 트레이닝

In [29]:
pred = rf.predict(X_test.fillna(-1))

In [30]:
real=test['OPS'].fillna(-1)
ab = test['AB']

In [31]:
from sklearn.metrics import mean_squared_error
mean_squared_error(real,pred,sample_weight=ab)**0.5

0.13786241394866894

즉, sample weight를 주고 training 시켰을때 더 좋은 모델이 나오는것을 알수있다.

## 데이터 제출

In [32]:
sub = test[['batter_id','batter_name']]

In [33]:
sub.head(10)

     batter_id batter_name
0            0        가르시아
6            1         강경학
11           2         강구성
41           3         강민국
56           4         강민호
57           5         강백호
85           8         강상원
88           9         강승호
100         11         강진성
105         12         강한울

In [34]:
predictions=rf.predict(X_test.fillna(-1))

In [35]:
predictions[:5]

array([0.70996174, 0.5836482 , 0.6580935 , 0.70996174, 0.83216596])

In [36]:
sub['ops']=predictions

In [37]:
sub.to_csv("submission_dacon.csv",index=False)

In [38]:
sub.head()

    batter_id batter_name       ops
0           0        가르시아  0.709962
6           1         강경학  0.583648
11          2         강구성  0.658094
41          3         강민국  0.709962
56          4         강민호  0.832166

이렇게 생성된 파일을 데이콘 야구대회 홈페이지에 제출을 하면 끝이난다

EDA 및 feature engineering , 머신러닝 모델 등을 바꿔보면서 반복하여 wrmse(weighted root mean squared Error)를 최소화 시켜서 이를 제출한다

참고 링크 : https://dacon.io/index.php?mid=cpt6&category=65536&document_srl=66846